 <ion-app>
    <ion-header translucent>
      <ion-toolbar>
        <ion-title>Practicas PreProfesional</ion-title>
      
      </ion-toolbar>
    </ion-header>

    <ion-content fullscreen>

<ion-list>
  <ion-radio-group value="biff">
    <ion-list-header>
      <ion-label>COAC Alianza del Valle</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Help Desk</ion-label>
      <ion-radio slot="start" value="biff"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Creacion de usuarios</ion-label>
      <ion-radio slot="start" value="griff"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Asignacion de equipos</ion-label>
      <ion-radio slot="start" value="buford"></ion-radio>
    </ion-item>
 <ion-list-header>
      <ion-label>SEALARM.Cial Ltda</ion-label>
    </ion-list-header>
 <ion-item>
      <ion-label>Instalacion CCTV</ion-label>
      <ion-radio slot="start" value="biff"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Alarmas</ion-label>
      <ion-radio slot="start" value="griff"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Cercos electricos</ion-label>
      <ion-radio slot="start" value="buford"></ion-radio>
    </ion-item>
  </ion-radio-group>


</ion-list>
  </ion-content>